body {
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(110, 110, 110, 0.96);
  padding-top: 2%;
}


a.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  color: rgb(25, 23, 46) !important;
}
.nav-right {
  float: right !important;
}
div.navbox {
  padding-top: 1%;
  padding-bottom: 1%;
}


div.post {
  background-color: rgba(221, 215, 215, 0.77);
  border-radius: 8px;
  margin: auto;
  margin: 2% 2%;
  padding: 2% 2% 3% 2%;
  min-height: 250px;
}

div.comments {
  margin-top: 2%;
}

.username {
  color: rgb(77, 19, 180);
}

img.post {
  max-height: 200px;
  width: 325px;
  float: left;
  margin-right: 1%;
}

p.author {
  text-align: left;
}

/**/
.positive {
  color: green;
}
.negative {
  color: red;
}


label {
  text-align: center;
}

.form-control {
  width: 75%;
  margin: auto;
}

.modal-backdrop
{
    opacity:0.7 !important;
}
