<!-- NAVBAR -->
<navbar>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Reddit Clone</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="search">
          </div>
        </form>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by {{ nav.sorter }} <span class="caret"></span></a>
          <ul class="dropdown-menu" id="order" >
            <li><a ng-click="sortBy('score')" href="#">Sort by Score</a></li>
            <li><a ng-click="sortBy('date')" href="#">Sort by Date Added</a></li>
            <li><a ng-click="sortBy('title')" href="#">Sort by Title</a></li>
          </ul>
        </li>

        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Submit Post</a></li>
        <li><a ng-hide="user" href="#" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
        <li><a ng-hide="user" href="#" data-toggle="modal" data-target="#loginModal">Log In</a></li>
        <li ng-show="user">Hello, {{ user.username }}!</li>
        <li><a ng-show="user" href="#">Log out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</navbar>

<!-- SUBMIT POST MODAL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Post</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="addPost(newPost)">
              <label class="center-block" for="title">Title</label>
              <input class="form-control" type="text" name="title" ng-model="newPost.title"></input>

              <label class="center-block" for="author">Author</label>
              <input class="form-control" type="text" name="author" ng-model="newPost.author"></input>

              <label class="center-block" for="image">Image URL</label>
              <input class="form-control" type="text" name="image" ng-model="newPost.image"></input>

              <label class="center-block" for="description">Description</label>
              <input class="form-control" type="text" name="description" ng-model="newPost.description"></input>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Submit Post</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- SIGNUP MODAL -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="signUp(newUser)">
              <label class="center-block" for="email">Email</label>
              <input class="form-control" type="text" name="email" ng-model="newUser.email"></input>

              <label class="center-block" for="username">Username</label>
              <input class="form-control" type="text" name="username" ng-model="newUser.username"></input>

              <label class="center-block" for="password">Password</label>
              <input class="form-control" type="password" name="password" ng-model="newUser.password"></input>

              <label class="center-block" for="confirmPassword">Confirm Password</label>
              <input class="form-control" type="password" name="confirmPassword" ng-model="newUser.confirmPassword"></input>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">Sign Up</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- LOG IN MODAL -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Log In</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="login(user)">
              <label class="center-block" for="email">Email</label>
              <input class="form-control" type="text" name="email" ng-model="user.email"></input>

              <label class="center-block" for="password">Password</label>
              <input class="form-control" type="password" name="password" ng-model="user.password"></input>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Sign Up</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
