<div ng-repeat="post in vm.posts | orderBy : nav.sorter : nav.reverse | filter : search" class='post'>
  <img ng-src="{{ post.image }}" class='post'>
  <h3 class='title'>{{ post.title }} |
    <span class="glyphicon glyphicon-arrow-up" ng-click="vm.upVote(post)"></span>
    <span class="glyphicon glyphicon-arrow-down" ng-click="vm.downVote(post)"></span>
    <span ng-bind="post.score" ng-class="{positive: post.score > 0, negative: post.score < 0}"></span>
  </h3>
  <p class='author'>By {{ post.author }}</p>
  <p class='description'>{{ post.description }}</p>
  <p>
    <span class="glyphicon glyphicon-calendar"></span>
    {{ post.date | date }}  |
    <span class="glyphicon glyphicon-comment"></span>
    <a ng-click="vm.showComments(post.id)">
      {{ post.comments.length }}
      <ng-pluralize
        count="post.comments.length"
        when="{
          '1': 'Comment',
          'other': 'Comments'
        }">
      </ng-pluralize>
    </a> |
    <span class="glyphicon glyphicon-pencil"></span>
    <a href="#" data-toggle="modal" data-target="{{'#commentModal' + post.id }}">Add Comment</a>
  </p>
  <div class="comments" ng-show="post.showComments">
    <p ng-repeat="comment in post.comments">
      <b class="username" ng-bind="comment.username"></b> :
      <span ng-bind="comment.comment"></span>
    </p>
  </div>

  <div class="modal fade" id="{{ 'commentModal' + post.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Comment</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="vm.addComment(newComment, post.id, currentUser.username)">
            <label for="post_id">Post</label>
            <input disabled class="form-control" type="text" name="post_id" placeholder="{{post.title}}">

            <label for="comment">Comment</label>
            <input class="form-control" type="text" name="comment" ng-model="newComment.comment">

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#{{'commentModal' + post.id }}">Submit Comment</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
